/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
} 

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@300;400;700;800&family=Inria+Sans:wght@300;700&display=swap');

/* LOGO */

.logo {
  color: #C00;
  font-family: 'Inria Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo span {
  color: #FFF;
}

/* FORM */

#movieSearcher{
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 228px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 8px 0px 0px 8px;
  background: #FFF;
  border: none; 
  outline: none;
  margin-right: 0; /* Assurez-vous qu'il n'y ait pas de marge à droite */
}

#buttonSearch {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 0px 8px 8px 0px;
  background: #C00;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  padding: 0; 
  margin: 0; 
  align-items: center;
  justify-content: center;
}

.form img{
  width: 50%;
} 

/* MENU */

.menu ul {
  display: flex;
  gap: 40px;
}

.menu ul li a {
  color: #FFF;
  font-family: 'Inria Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-decoration: none; /* Enlève le soulignement */
  cursor: pointer; /* Change le curseur en main au survol */
}

/* STYLES POUR LES GENRES */

.genres {
  margin-top: 46px;
  margin-bottom: 26px;
}

.genres ul {
  display: flex;
  gap: 45px;
  list-style-type: none;
  padding-left: 0;
  align-items: center;
  justify-content: center;
}

.genres ul li {
  margin: 0;
}

.genres ul li a {
  color: #FFF;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
  text-decoration: none; /* Enlève le soulignement */
  cursor: pointer; /* Change le curseur en main au survol */
}


/* STYLES FOR SWIPERS P */

 .swiper1 p, .swiper2 p, .swiper3 p {
  color: #fff;
  font-family: 'Inria Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}




/*STYLES DES SWIPERS*/

.swiper1 {
  display: none;
  margin-top: 61px;
  margin-bottom: 95px;
}

.swiper2 {
  margin-bottom: 95px;
}

.swiper3 {
  margin-bottom: 109px;
}

 .swiper-slide img{
  height: 351px;
} 


/* COMMON HEADER & FOOTER STYLES */

.header-container, .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 180px;
  max-width: 1280px;
}

/* MAIN CONTAINER */

.main-container {
  
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 30px 180px;
  max-width: 1280px;
}


/* HEADER */

header {
  background-color: #141517;
}

/* MAIN */

main {
  background: #191B20;
}



/* SUB SWIP */

.sub-swip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#barre {
  width: 599px;
  height: 1px;
  background: #FFF;
  margin-bottom: 29px;
}

/* FOOTER */

footer {
  background-color: #141517;
}

footer p {
  color: #B8B8B8;
  font-family: 'Inria Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

/* STYLES CARROUSEL */

.swiper-slide {
 
  height: 351px;
 
}

.swiper-button-next {
  background-image: url('images/VectorD.svg');
}

.swiper-button-prev {
  background-image: url('images/VectorG.svg');
}



/* RESPONSIVE */

@media (max-width: 767px) {
  /* Styles pour les écrans de téléphone portable */
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles pour les écrans de tablette */
}

@media (min-width: 1024px) {
  /* Styles pour les écrans d'ordinateur */
}




/* -----------------------MODAL REGISTER */

.modalRegister {
  margin: auto;
  width: 410px;
  height: 608px;
  background-color: #000;
  padding-top: 66px;
  padding-left: 61px;
  position: fixed;

}

.formRegister {
  display: none;
}

.navModal {
  display: flex;
  width: 288px;
  height: 54px;
  margin-bottom: 54px;
}

.navModal button {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  width: 100%;
  background-color: #000;
  border-style: none;
  border: 1px solid #FFF;
}

.buttonSwitchSignup {
  border-radius: 8px 0px 0px 8px;
}

.buttonSwitchLogin {
  border-radius: 0px 8px 8px 0px;
}


.forgotPassword,
.signup,
.login {
  color: #C00;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.alreadyMember,
.rememberMe,
.notAMember {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttonSignin,
.buttonLogin {
  width: 288px;
  height: 47px;
  border-radius: 8px;
  background: #C00;
  margin-bottom: 30px;
  color: #FFF;
  font-family: Inria Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.formRegister input {
  width: 288px;
  height: 44px;
  margin-bottom: 25px;
}

#username,
#password {
  width: 288px;
  height: 44px;
  margin-bottom: 25px;
  padding-left: 20px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#remember {
  margin-bottom: 46px;
}

.forgotPassword {
  margin-bottom: 19px;
}

.closeModal {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 11px;
  left: 14px;
}


/* -------------------MODAL MOVIES--------------- */

.modalMovies {
  width: 742px;
  height: 526px;
  margin: auto;
  position: relative;
  padding-top: 74px;
  padding-left: 79px;
  background: #000;
  position: fixed;
}

.closeModalMovies {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 11px;
  left: 14px;
}

.imgStar {
  width: 21px;
  height: 21px;
}

.movieCard {
  display: flex;
}

.divImg {
  width: 234px;
  height: 351px;
  margin-right: 58px;
}

.titleCard {
  color: #C00;
  font-family: Inria Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.yearCard {
  color: #E9E9E9;
  font-family: Inria Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.divRate {
  display: flex;
}

.rateCard {
  color: #C00;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.genreCard {
  color: #E9E9E9;
  font-family: Inria Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.resumeCard, .castList {
  color: #FFF;
  font-family: Inria Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.48px;
  width: 292px;
}